.container {
    padding-top: 10px;
}

.row {
    padding-top: 30px;
}

.panel-group{
    padding-top: 10px;
}

.panel-heading {
    text-align: center;
}

.page-header {
    background-color: #E8E8E8;
    text-align: center;
}