.title-bar{
    background-color: #E3E3E3;
}

.title-bar-text {
    text-align: center;
    margin-top: 4px;
}

.col-xs-3 {
    text-align: center;
    margin-top: 6px;
}

.input-group {
    margin-top: 10px;
}

.panel-group {
    margin-top: 15px;
    margin-bottom: 20px;
}

.panel-heading {
    text-align: center;
}

.head-pic-text{
    margin-left: 50px;
}

.head-pic-text_{
    margin-left: 55px;
}

