.index-icon-row {
    margin-top: 22px;
}

.index-icon {
    text-align: center;
}

.title-bar {
    min-height: 55px;
    background-color: #E3E3E3;
}

.title-bar-text {
    text-align: center;
    margin-top: 8px;
}

.title-bar-image {
    width: 35px;
    height: 35px;
}

.title-bar-btn {
    text-align: center;
    margin-top: 10px;
}

.title-bar-col {
    text-align: center;
    margin-top: 10px;
}

.list-group-item-higher {
    min-height: 64px;
}

.input-group {
    margin-top: 10px;
}

.panel-group {
    margin-top: 15px;
    margin-bottom: 20px;
}

.panel-heading {
    text-align: center;
}

.head-pic {
    width: 40px;
    height: 40px;
}

.head-pic-small {
    width: 35px;
    height: 35px;
    margin-top: 4px;
}

.head-pic-text {
    margin-left: 50px;
}

.head-pic-text_ {
    margin-left: 55px;
}

.info-detail {
    color: #8E8E8E;
}

.input-larger-text {
    border: 0;
    font-size: 17px;
}

.btn-block-bottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-block-bottom-no-top-margin {
    margin-bottom: 15px;
}