<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.springapp.mvc"/>
    <context:component-scan base-package="com.weixin.sdk"/>

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="springContextUtil" class="com.tool.SpringContextUtil" lazy-init="false" scope="singleton"></bean>

    <!-- LocalDataSource -->
    <bean id="localDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${local.jdbc.driverClassName}"/>
        <property name="url" value="${local.jdbc.url}"/>
        <property name="username" value="${local.jdbc.username}"/>
        <property name="password" value="${local.jdbc.password}"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!-- ServerDataSource -->
    <bean id="serverDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${server.jdbc.driverClassName}"/>
        <property name="url" value="${server.jdbc.url}"/>
        <property name="username" value="${server.jdbc.username}"/>
        <property name="password" value="${server.jdbc.password}"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <!-- SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="serverDataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:mybatis/mapper/**/*.xml"/>
    </bean>

    <!-- Configure TransactionManager to support Annotation based Transaction support. -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="serverDataSource"/>
    </bean>

    <!-- Configure SqlSessionTemplate which provides ThreadSafe SqlSession object. -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- To be able to inject Mappers directly we should register org.mybatis.spring.mapper.MapperScannerConfigurer
    and configure the package name where to find Mapper Interfaces. -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.springapp.mvc"/>
    </bean>

    <!-- Cache Configuration-->
    <cache:annotation-driven cache-manager="cacheManager"/>
    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="cacheManagerFactory"/>
    </bean>


</beans>