<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.springapp.mvc.domain.contacts.User" alias="User"/>
        <typeAlias type="com.springapp.mvc.domain.contacts.Department" alias="Department"/>
        <typeAlias type="com.springapp.mvc.domain.contacts.Group" alias="Group"/>

        <typeAlias type="com.springapp.mvc.domain.customer.Customer" alias="Customer"/>
        <typeAlias type="com.springapp.mvc.domain.customer.CommentCustomer" alias="CommentCustomer"/>
        <typeAlias type="com.springapp.mvc.domain.customer.DiscussStage" alias="DiscussStage"/>

        <typeAlias type="com.springapp.mvc.domain.project.Project" alias="Project"/>
        <typeAlias type="com.springapp.mvc.domain.project.Module" alias="Module"/>
        <typeAlias type="com.springapp.mvc.domain.project.Task" alias="Task"/>
        <typeAlias type="com.springapp.mvc.domain.project.SubTask" alias="SubTask"/>
    </typeAliases>

</configuration>