<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springapp.mvc.dao.admin.CompanyMapper">
    <resultMap id="CompanyResultMap" type="Company">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="userAccountPostfix" column="user_account_postfix"/>
        <result property="isSetUserAccountPostfix" column="is_set_user_account_postfix"/>
    </resultMap>

    <insert id="insertCompany" parameterType="Company">
        insert into t_company (name, user_account_postfix, is_set_user_account_postfix)
            values (#{name}, #{userAccountPostfix}, #{isSetUserAccountPostfix})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <select id="hasUserAccountPostfix" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select c.is_set_user_account_postfix
        from t_company c
        where c.id = #{id}
    </select>


</mapper>