<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.dao.customer.CustomerMapper">
    <resultMap id="CustomerResultMap" type="Customer">
        <id property="id" column="id"/>
        <result property="chineseName" column="chinese_name"/>
        <result property="chineseNamePinyin" column="chinese_name_pinyin"/>
        <result property="englishName" column="english_name"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone_num"/>
        <result property="wechatNum" column="wechat_num"/>
        <result property="qqNum" column="qq_num"/>
        <result property="email" column="email"/>
        <result property="officeAddress" column="office_address"/>
        <result property="houseAddress" column="house_address"/>
        <result property="customerValue" column="customer_value"/>
        <result property="birthday" column="birthday"/>
        <result property="hobby" column="hobby"/>
        <result property="createdUserId" column="created_user_id"/>
        <result property="createdUserChineseName" column="created_user_chinese_name"/>
        <result property="createdUserEnglishName" column="created_user_english_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="moduleId" column="module_id"/>
        <result property="moduleName" column="module_name"/>
        <result property="taskId" column="task_id"/>
        <result property="taskName" column="task_name"/>
        <result property="discussStageId" column="discuss_stage_id"/>
        <result property="discussStageName" column="discuss_stage_name"/>
    </resultMap>

    <insert id="insertCustomer" parameterType="Customer">
        insert into t_customer(chinese_name, chinese_name_pinyin, english_name, gender, phone_num,
                                 wechat_num, qq_num, email, office_address, house_address,
                                 customer_value, birthday, hobby, created_user_id, project_id, module_id, task_id, discuss_stage_id)
                values (#{chineseName}, #{chineseNamePinyin}, #{englishName}, #{gender},
                         #{phone}, #{wechatNum}, #{qqNum}, #{email}, #{officeAddress},
                         #{houseAddress}, #{customerValue}, #{birthday}, #{hobby}, #{createdUserId},
                         #{projectId}, #{moduleId}, #{taskId}, #{discussStageId})
    </insert>

    <select id="updateCustomerInfo" parameterType="Customer">
        update t_customer
        set chinese_name = #{chineseName},
             chinese_name_pinyin = #{chineseNamePinyin},
             english_name = #{englishName},
             gender = #{gender},
             phone_num = #{phone},
             wechat_num = #{wechatNum},
             qq_num = #{qqNum},
             email = #{email},
             office_address = #{officeAddress},
             house_address = #{houseAddress},
             customer_value = #{customerValue},
             birthday = #{birthday},
             hobby = #{hobby},
             project_id = #{projectId},
             module_id = #{moduleId},
             task_id = #{taskId},
             discuss_stage_id = #{discussStageId}
        where id = #{id}
    </select>

    <select id="selectCustomerDetails" parameterType="int" resultMap="CustomerResultMap">
        select c.*, d.name as discuss_stage_name,
               u.chinese_name as created_user_chinese_name, u.english_name as created_user_english_name
        from t_customer c
              left join t_discuss_stage d on c.discuss_stage_id = d.id
              left join t_user u on c.created_user_id = u.id
        where c.id = #{customerId}
    </select>
    
    <select id="selectMyCustomerList" parameterType="int" resultMap="CustomerResultMap">
        select c.id, c.chinese_name, c.english_name, c.discuss_stage_id, p.name as project_name, t.name as task_name
        from t_customer c
              left join t_project p on c.project_id = p.id
              left join t_task t on c.task_id = t.id
        where c.created_user_id = #{userId} order by c.english_name
    </select>

    <select id="selectSharedCustomerList" parameterType="int" resultMap="CustomerResultMap">
        select c.id, c.chinese_name, c.english_name, c.discuss_stage_id, p.name as project_name, t.name as task_name
        from t_customer c
              left join t_customer_user cu on cu.customer_id = c.id

              left join t_project p on c.project_id = p.id
              left join t_task t on c.task_id = t.id
        where cu.user_id = #{userId} order by c.english_name
    </select>

    <select id="selectMyCustomerListByDiscussStage" parameterType="java.util.Map" resultMap="CustomerResultMap">
        select c.id, c.chinese_name, c.english_name, p.name as project_name, c.discuss_stage_id, t.name as task_name
        from t_customer c
              left join t_customer_user cu on cu.customer_id = c.id

              left join t_project p on c.project_id = p.id
              left join t_task t on c.task_id = t.id
        where c.discuss_stage_id = #{discussStageId} and c.created_user_id = #{userId} order by english_name
    </select>

    <select id="selectSharedCustomerListByDiscussStage" parameterType="java.util.Map" resultMap="CustomerResultMap">
        select c.id, c.chinese_name, c.english_name, c.discuss_stage_id, p.name as project_name, t.name as task_name
        from t_customer c
              left join t_customer_user cu on cu.customer_id = c.id

              left join t_project p on c.project_id = p.id
              left join t_task t on c.task_id = t.id
        where c.discuss_stage_id = #{discussStageId} and cu.user_id = #{userId} order by english_name
    </select>

    <select id="fuzzySelectCustomerList" parameterType="java.util.Map" resultMap="CustomerResultMap">
        select c.id, c.chinese_name, c.english_name, p.name as project_name, t.name as task_name
        from t_customer c
              left join t_customer_user cu on cu.customer_id = c.id

              left join t_project p on c.project_id = p.id
              left join t_task t on c.task_id = t.id
        where (c.created_user_id = #{userId} or cu.user_id = #{userId})
               and (english_name like "%"#{str}"%" or chinese_name_pinyin like "%"#{str}"%" or chinese_name like "%"#{str}"%") ;
    </select>

</mapper>