<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.dao.contacts.DepartmentMapper">
    <resultMap id="DepartmentResultMap" type="Department">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="companyId" column="company_id"/>
        <collection property="groupList" ofType="Group">
            <id property="id" column="groupId"/>
            <result property="name" column="groupName"/>
        </collection>
        <collection property="userList" ofType="User">
            <id property="id" column="userId"/>
            <result property="chineseName" column="chinese_name"/>
            <result property="englishName" column="english_name"/>
        </collection>
    </resultMap>

    <insert id="insertDepartment" parameterType="Department" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
         insert into t_department (id, name, company_id)
         values(#{id}, #{name}, #{companyId})
    </insert>

    <select id="selectAllDepartmentBaseInfo" resultMap="DepartmentResultMap">
        select d.id, d.name from t_department d
    </select>

    <select id="selectDepartmentDetailsByDepartmentId" parameterType="int" resultMap="DepartmentResultMap">
        select d.id, d.name,
                u.id as userId, u.chinese_name, u.english_name,
                g.id as groupId, g.name as groupName
        from t_department d
              left join t_user_department ud on d.id = ud.department_id
              left join t_user u on ud.user_id = u.id
              left join t_group g on d.id = g.department_id
        where d.id = #{departmentId}
    </select>

    <!--<update id="updateDepartment" parameterType="Department">-->
        <!--update t_department set-->
        <!--name = #{name}-->
        <!--where id = #{id}-->
    <!--</update>-->

    <delete id="deleteDepartmentById" parameterType="java.lang.Integer">
        delete from t_department where id = #{id}
    </delete>

</mapper>