<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.springapp.mvc.contacts.dao.LinkMapper">

    <insert id="insertUserIdCollectedContactsIdLink" parameterType="map" >
        insert into t_user_collectedcontacts values (#{user_id}, #{collectedcontacts_id})
    </insert>

    <delete id="deleteUserIdCollectedContactsIdLink" parameterType="map">
        delete from t_user_collectedcontacts where user_id = #{user_id} and collectedcontacts_id = #{collectedcontacts_id}
    </delete>

    <select id="selectCollectedContactsIdListByUserId" parameterType="int" resultType="java.lang.Integer">
        select collectedcontacts_id from t_user_collectedcontacts where user_id = #{userId}
    </select>
    
</mapper>