<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.dao.project.ModuleMapper">
    <resultMap id="ModuleResultMap" type="Module">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createrId" column="creater_id"/>
        <result property="createrChineseName" column="creater_chinese_name"/>
        <result property="createrEnglishName" column="creater_english_name"/>
    </resultMap>

    <select id="selectModuleDetailsByModuleId" parameterType="int" resultMap="ModuleResultMap">
        select m.*,
               p.id as project_id, p.name as project_name,
               u.id as creater_id, u.chinese_name as creater_chinese_name, u.english_name as creater_english_name
        from t_module m
        left join t_project p on m.project_id = p.id
        left join t_user u on u.id = m.creater_id
        where m.id = #{moduleId}
    </select>

    <select id="selectModuleListByProjectId" parameterType="int" resultMap="ModuleResultMap">
        select m.id, m.name, m.update_time
        from t_module m
        where m.project_id = #{projectId}
    </select>

    <insert id="insertModule" parameterType="Module">
        insert into t_module (name, project_id, creater_id)
                values (#{name}, #{projectId}, #{createrId})
    </insert>

    <update id="updateModuleDetail" parameterType="Module">
        update t_module
        set name = #{name}
        where id = #{id}
    </update>

    <select id="isModuleCreater" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*)
        from t_module
        where id = #{moduleId} and creater_id = #{userId}
    </select>

    <delete id="deleteModuleDetailByModuleId" parameterType="int">
        delete from t_module
                where id = #{moduleId}
    </delete>
</mapper>