<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.dao.project.ProjectStageMapper">

    <resultMap id="ProjectStageResultMap" type="ProjectStage">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getAllProjectStageList" resultMap="ProjectStageResultMap">
        select sp.id, sp.name
        from t_stage_project sp
    </select>

</mapper>