<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.contacts.dao.UserMapper">
    <resultMap id="UserResult" type="User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="chineseName" column="chinese_name"/>
        <result property="englishName" column="english_name"/>
        <result property="positionTitle" column="position_title"/>
        <result property="weChatNum" column="wechat_num"/>
        <result property="qqNum" column="qq_num"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="createdTime" column="created_time"/>
        <collection property="departments" ofType="Department" columnPrefix="dp_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="createdTime" column="created_time"/>
        </collection>
    </resultMap>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user values(#{id},#{email},#{password},#{chineseName},#{englishName},#{positionTitle},#{weChatNum},#{qqNum},#{phoneNum},#{createdTime})
    </insert>

    <insert id="insertUserDepartmentLink" parameterType="java.util.HashMap">
        insert into t_user_department values(#{user_id}, #{department_id})
    </insert>

    <insert id="insertUserFrequentContactsLink" parameterType="java.util.HashMap">
        insert into t_user_frequentcontacts values (#{user_id}, #{frequentcontacts_id})
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from t_user where id = #{id}
    </delete>

    <delete id="deleteUserDepartmentLink" parameterType="java.util.HashMap">
        delete from t_user_department where user_id = #{user_id} and department_id = #{department_id}
    </delete>

    <delete id="deleteUserFrequentContactsLink" parameterType="java.util.HashMap">
        delete from t_user_frequentcontacts where user_id = #{user_id} and frequentcontacts_id = #{frequentcontacts_id}
    </delete>

    <update id="updateUser" parameterType="User">
        update t_user set
        email = #{email},
        password = #{password},
        chinese_name = #{chineseName},
        english_name = #{englishName},
        position_title = #{positionTitle},
        wechat_num = #{weChatNum},
        qq_num = #{qqNum},
        phone_num = #{phoneNum}
        where
        id = #{id}
    </update>

    <select id="selectUserById" parameterType="int" resultMap="UserResult">
        select u.id,u.email,u.chinese_name,d.name as dp_name
        from t_user u
        left outer join t_user_department ud on u.id=ud.user_id
        left outer join t_department d on ud.department_id=d.id
        where u.id=#{id}
    </select>

    <select id="selectUserByName" parameterType="User" resultMap="UserResult">
        select u.id,u.email,u.chinese_name,d.name as dp_name
        from t_user u
        left outer join t_user_department ud on u.id=ud.user_id
        left outer join t_department d on ud.department_id=d.id
        <where>
            <if test="chineseName != 0">u.chinese_name=#{chineseName}</if>
            <if test="englishName != 0">u.english_name=#{englishName}</if>
        </where>
    </select>

    <select id="fuzzySelectUserByEnglishString" parameterType="java.lang.String" resultType="User">
        select * from t_user where english_name like #{englishStr}"%";
    </select>
    
    <select id="selectFrequentContactsIdByUserId" parameterType="int" resultType="Integer">
        select frequentcontacts_id from t_user_frequentcontacts where user_id = #{userId}
    </select>

    <select id="selectAllUser" resultMap="UserResult">
        select u.id,u.email,u.chinese_name,d.name as dp_name
        from t_user u
        left outer join t_user_department ud on u.id=ud.user_id
        left outer join t_department d on ud.department_id=d.id
    </select>

</mapper>

